@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('./assets/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin';
  src:
    local('Josefin'),
    url('./assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf')
      format('truetype');
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

body {
  margin: 0;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
